<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-ruben-cards-styles.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<dom-module id="cells-ruben-cards">
  <script src="cells-ruben-cards.js"></script>
</dom-module>
